{% extends 'base.html' %}

{% block content %}
    <h1>Heyyo this is home.</h1>
    <a href="/create_event">Create Event</a>
    {% if user %}
        <h1> {{ user.username }} </h1>
    {% endif %}
    {% for event in events %}
        <h2>{{event.name}}</h2>
        <p>start date: {{event.start_date}}</p>
        <p>finish date: {{event.finish_date}}</p>
        <p>created by: {{event.created_by}}</p>
        <p>users attending: {{event.users_attending.all.count}}</p>
        <form action="/attend_event/" method="post">
            {% csrf_token %}
            <input type="hidden" name="event_id" value="{{event.id}}">
            <button type="submit">Attend Event</button>
        </form>
    {% endfor %}
{% endblock %}