{% extends 'base.html' %}

{% block content %}
    <h1>Event Website</h1>
    
    {% if not user.id %}
        <h3> You are not logged in </h3>
        <a href="/accounts/login">Log In</a><br>
        <a href="/accounts/signup">Sign Up</a>
    {% else %}
        <h2>Hi, {{user.full_name}}!</h2>
        <a href="/accounts/logout">Log Out</a>
    {% endif %} <br>
    <a href="/create_event"><h2>Create Event</h2></a>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>
                    {{ message }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% for event in events %}
        <h2>{{event.name}}</h2>
        <p>start date: {{event.start_date}} <br>
        finish date: {{event.finish_date}} <br>
        created by: {{event.created_by.full_name}} <br>
        users attending: {{event.users_attending.all.count}} <br>
        description: {{event.details}}</p>
        <form action="/attend_event/" method="post">
            {% csrf_token %}
            <input type="hidden" name="event_id" value="{{event.id}}">
            {% if event.created_by.id != user.id and user not in event.users_attending.all %}
                <button type="submit">Attend Event</button>
            {% else %}
                <button type="submit" disabled>Attend Event</button>
            {% endif %}
        </form>
    {% endfor %}
{% endblock %}